doctype html
//- head file
head(lang=config.language)
    include partial/head.pug

//- index main
body
    //- navbar
    .navbar
        include partial/nav.pug
    //- logo
    .logo
        img.hvr-bob(src=theme.logo, alt=config.title)
    .main
        //- title
        h1#title-animation #{config.title}
        //- information
        p#information-animation #{theme.info}
        //- social button
        .social
            a(href="#", title="测试").button 测
            a(href="#", title="测试").button 测
            a(href="#", title="测试").button 测
            a(href="#", title="测试").button 测