extends partial/layout.pug

block container  
    .logo
        img.hvr-bob(src=theme.logo, alt=config.title)
    .main
        //- title
        h1#title-animation #{config.title}
        //- information
        p#information-animation #{theme.info}
        //- social button
        .social
            each val in theme.social
                a(href=val.v, title=val.t).button #{val.t}
