//Website mata
meta(charset="utf-8")

meta(name="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1")
//Disable transformation
meta(http-equiv="Cache-Control" content="no-transform")
meta(http-equiv="Cache-Control" content="no-siteapp")

//title
title #{config.title}

//Website description
- if (page.description)
    meta(name="description" content=page.description)
- else if (page.title)
    meta(name="description" content=page.title)
- else if (config.description)
    meta(name="description" content=config.description)
- else
    meta(name="description" content="Just A Hexo Blog!")

//Website keywords
- if (page.keywords)
    meta(name="keywords" content=page.keywords)
- else if (page.tags && page.tags.length)
    meta(name="keywords" content=each tag in page.tags)
- else
    meta(name="keywords" content="No Keyword")
//Website rss
- if ((theme.rss === 'default') && config.feed && config.feed.path)
    link(rel="search", type="application/opensearchdescription+xml", href=config.feed.path, title=config.title)
- else if (theme.rss)
    link(rel="search", type="application/opensearchdescription+xml", href=theme.rss, title=config.title)
- else
    link(rel="search", type="application/opensearchdescription+xml", href='/atom.xml', title=config.title)

//Website favicon
- if (theme.favicon)
    link(rel="shortcut icon" type=type="image/x-icon" href=url_for(theme.favicon) + "?v=" + theme.version)

//Theme styling
link(rel="stylesheet", href=url_for("css/style.css"))


// Fancybox styling
- if (theme.theme.fancybox)
    link(rel="stylesheet" type="text/css" href=url_for('lib/fancybox/jquery.fancybox.css'))
