    <div class="header">
        <!--logo-->
        <% if (theme.logo){ %>
        <img class="logo" src="<%- theme.logo %>" alt="<%= config.title %>">
        <% } else { %>
            <h1><%= config.title %></h1>
        <% } %>
        
        <!--导航-->
        <nav class="clearfix">
            <ul>
                <% for (var i in theme.menu){ %>
                    <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li> 
                <% } %>
            </ul>
        </nav>
    </div>